*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	background: none;
	border: 2px solid transparent;
}

img {
	object-fit: cover;
	width: 100%;
	height: auto;
}
